In [2]:
import pandas as pd

In [9]:
ramen = pd.read_csv('data/ramen_ratings.csv')

In [13]:
ramen.head()

,review_number,brand,variety,style,country,stars
0,3180.0,Yum Yum,Tem Tem Tom Yum Moo Deng,Cup,Thailand,3.75
1,3179.0,Nagatanien,tom Yum Kung Rice Vermicelli,Pack,Japan,2.00
2,3178.0,Acecook,Kelp Broth Shio Ramen,Cup,Japan,2.50
3,3177.0,Maison de Coree,Ramen Gout Coco Poulet,Cup,France,3.75
4,3176.0,Maruchan,Gotsumori Shio Yakisoba,Tray,Japan,5.00

In [14]:
ramen.shape

(3180, 6)

In [29]:
ramen_by_style = ramen.groupby(by=['style']).agg({'stars': ['mean', 'count']})
ramen_by_style[ramen_by_style['stars']['count'] > 20]

          stars
           mean count
style
Bowl   3.705474   612
Box    4.210938    32
Cup    3.487701   559
Pack   3.741419  1818
Tray   3.602355   138

In [36]:
ramen_by_style.columns

MultiIndex(levels=[['stars'], ['mean', 'count']],
           codes=[[0, 0], [0, 1]])

In [39]:
ramen_by_style = ramen_by_style.reset_index()

In [48]:
foo = ramen.groupby(by=['style'])['stars'].agg(['mean'])
foo

                mean
style
Bar         5.000000
Bowl        3.705474
Box         4.210938
Can         3.500000
Cup         3.487701
Pack        3.741419
Restaurant  3.583333
Tray        3.602355